/* DEFINICION DE ESTILOS PARA MINISISTEMA PERSONAS FICHEROS */
div#head {
   border-bottom-style: solid;
   border-bottom-width: 2px;
   border-bottom-color: #0B4F70;  
}
div#head h1 {
   font-family: arial;
   font-size: 24px;
   color: #097FBA;
   letter-spacing: 2px;
   display: inline;    
}
div#menu {
    margin-top: 20px;
}
a {
 padding: 5px;   
}
a:link {
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    color: green;
    margin-right: 10px;
}
a:visited {
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    color: #B5AFAF;
    margin-right: 10px;
}
a:hover {
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: underline;
    color: orange;
    margin-right: 10px;
    background-color: black;
}
div#contenido {
   width: 80%; 
   margin: 40px auto;
}
fieldset#dsc {
   font-family: calibri;
   font-size: 14px;
   font-style: italic;
   text-align: justify;
   padding: 20px;    
}
fieldset#frm {
   width: 280px;
   font-family: arial;
   font-size: 12px;
   font-style: normal;
   text-align: right;
   padding: 20px;    
}
legend {
    font-family: arial;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    background-color: black;
    color: white;
    letter-spacing: 2px;
    padding: 5px;
}
table#lst {
    width: 90%;
    font-style: normal;
}
table#lst th {
    background-color: black;
    color:white;
    text-align: center;
}
table#lst td {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #3D9DCD;
}


